$renk_cizgi: #ebebeb;
$renk_acik: #f8f8f8;
$renk_yazi: #6d6e71;
$renk_font:#3d4453;
$renk_font_acik:#858c9b;
$renk_orange:#FF4C21;
$renk_altin: #852650;
$renkss: rgba(0, 0, 0, .1);
$renkss-2: rgba(0, 0, 0, .2);
$renkss-3: rgba(0, 0, 0, .3);
$renkss-4: rgba(0, 0, 0, .4);
$renksb: rgba(255, 255, 255, .1);
$renksb-2: rgba(255, 255, 255, .2);
$renksb-3: rgba(255, 255, 255, .3);
$renksb-4: rgba(255, 255, 255, .4);
$renksb-6: rgba(255, 255, 255, .6);
$renksb-8: rgba(255, 255, 255, .8);
